.ingressoComprado__topo {
    background-image: url(../img/banner-topo-ingressoComprado360px.png);
}

@media (min-width: 768px) {
    .ingressoComprado__topo {
        background-image: url(../img/banner-topo-ingressoComprado768px.png);
    }
}

@media (min-width: 1440px) {
    .ingressoComprado__topo {
        background-image: url(../img/banner-topo-ingressoComprado1440px.png);
    }
}

.comprado__container {
    padding: 64px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.comprado__titulo {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.ingresso {
    background-image: var(--gradiente-boreal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

.ingresso__cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo__ingresso {
    width: 116.95px;
    height: 32px;
}

.ingresso__close-tag {
    width: 32px;
    height: 32px;
}

.ingresso__qr {
    background-image: url(../img/Qr-code-Exemplo.png);
    width: 248px;
    height: 190px;
}

@media (min-width: 768px) {
    .ingresso__qr {
        background-image: url(../img/Qr-code-Exemplo768px.svg);
        width: 584px;
        height: 310px;
    }
}

@media (min-width: 1440px) {
    .ingresso__qr {
        background-image: url(../img/Qr-code-Exemplo1440px.png);
        width: 189px;
        height: 222px;
    }
}

.ingresso__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ingresso__nome {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.ingresso__descricao {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

@media (min-width: 1440px) {
    .comprado__container {
        padding: 64px 120px;
    }

    .comprado__titulo {
        width: 792px;
    }

    .ingresso {
        display: grid;
        grid-template-columns: 0.25fr 1fr;
        margin: 64px 324px;
        column-gap: 48px;
    }

    .ingresso__cabecalho {
        grid-column: span 2;
    }

    .ingresso__info {
        margin-right: 290px;
        width: 220px;
    }
}