@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700&display=swap');
@import url(./header.css);
@import url(./footer.css);
@import url(./aExperiencia.css);
@import url(./setores.css);
@import url(./informacoes.css);

:root {
    /* FONTES */
    --fonte-titulos: 'Calistoga', cursive;
    --fonte-textos: 'Raleway', sans-serif;

    /* CORES GERAIS */
    --branco: #FFFFFF;

    /* TEMA BOREAL */
    --roxo-boreal: #4650BD;
    --roxo-claro: #606ADA;
    --verde-escuro: #008364;
    --azul-claro: #C8DEEF;
    --cinza: #444444;
    --gradiente-boreal: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);

}

body {
    background-image: var(--gradiente-boreal);
    background-repeat: no-repeat;
    color: var(--branco);
    font-family: var(--fonte-textos);
}

.hidden {
    display: none;
}

/* BANNER TOPO HOMEPAGE */

.principal__banner-topo {
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    color: var(--branco);
    font-family: var(--fonte-titulos);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 95px 25px;
}

.homepage__topo {
    background-image: url(../img/banner-topo-homepage360px.png);
}

.banner__titulo {
    font-size: 20px;
}

@media (min-width: 768px) {
    .principal__banner-topo {
        
        padding: 105px 110px;
    }

    .homepage__topo {
        background-image: url(../img/banner-topo-homepage768px.png);
    }

    .banner__titulo {
        font-size: 64px;
    }
}

@media (min-width: 1440px) {
    .homepage__topo {
        background-image: url(../img/banner-topo-homepage1440px.png);
    }
    
}

/* ------------------------ */

/* DATAS */
.principal__datas {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    align-items: center;
}

.datas__img {
    margin-bottom: 32px;

    background-image: url(../img/home-datas.avif);
    width: 312px;
    height: 381px;
    border-radius: 16px;
    background-size: cover;
    background-position: 40%;
    background-clip: border-box;
}

@media (min-width: 768px) {
    .datas__img {
        width: 609px;
        height: 381px;
    }
}

@media (min-width: 1440px) {
    .principal__datas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .datas__img {
        grid-row: 1 / 4;
        margin-bottom: 0;
    }
}

.datas__titulo {
    font-size: 32px;
    font-weight: 700;
    font-family: var(--fonte-textos);
    text-align: center;
}

.datas__descricao {
    margin: 24px 0;
    font-size: 20px;
    font-family: var(--fonte-textos);
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.botao__ingressos {
    font-family: var(--fonte-textos);
    font-size: 20px;
    font-weight: 700;
    text-align: start;
    line-height: 40px;
    color: var(--branco);
    border: 0;
    border-radius: 16px;
    box-shadow: 4px 4px 0px #000000;
    ;
    background-color: var(--roxo-boreal);
    width: 250px;
    height: 56px;
    padding: 8px 16px;

    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.botao__ingressos:hover {
    background-color: var(--roxo-claro);
}

/* ------------------------ */

/* LINEUPS */

.lineup {
    font-family: var(--fonte-titulos);
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 32px 0;

}

.principal__lineup {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-textos);
}

.lineup__titulo {
    font-family: var(--fonte-titulos);
    font-size: 32px;
    padding: 16px;
    background-color: var(--verde-escuro);
    display: flex;
    justify-content: center;
    margin: 48px 32px;

    position: relative;

    max-width: fit-content;
}

@media (min-width: 768px) {

    .lineup__titulo::before,
    .lineup__titulo::after {
        content: "";
        position: absolute;
        width: 84px;
        height: 1px;
        background: var(--verde-escuro);
        left: -100px;
        top: 50%;
        transform: translatey(-50%);
    }

    .lineup__titulo::after {
        left: unset;
        right: -100px;
    }
}

@media (min-width: 1440px) {

    .lineup__titulo::before,
    .lineup__titulo::after {
        width: 360px;
        left: -400px;
    }

    .lineup__titulo::after {
        left: unset;
        right: -400px;
    }
}

.lineup__atracao-principal {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 32px;
}

.lineup__atracao-sec {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    gap: 16px;
    margin-bottom: 32px;
}


.lineup__atracao-ter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}

.lineup__atracao-last {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 32px;
    text-align: center;
    gap: 16px;
}

@media (min-width: 768px) {

    .lineup__atracao-sec,
    .lineup__atracao-ter,
    .lineup__atracao-last {
        flex-direction: row;
        justify-content: center;
        padding: 0 60px;
        gap: 32px;
        flex-wrap: wrap;
    }
}

@media (min-width: 1440px) {

    .lineup__atracao-sec,
    .lineup__atracao-ter,
    .lineup__atracao-last {
        display: flex;
        flex-direction: row;

    }
}

/* ---------------------------- */

/* BANNER BOTTOM */

.principal__banner-bottom {
    content: "";
    background-image: url(../img/banner-bottom-homepage.png);
    mix-blend-mode: multiply;
    background-size: auto;
    background-position: 50%;
    height: 338px;
}

/* --------------------------- */